---
const { title, description, imageURL, skills } = Astro.props;
const { className = '' } = Astro.props;
---

<div class="bg-gray-950 outline-1 outline-gray-700 rounded-lg p-6 shadow-sm">
  <img
    src={imageURL}
    alt={title}
    class="rounded mb-2 h-48 w-full object-cover object-top"
  />
  <h2 class="text-2xl leading-5 font-bold font-sans mt-4">{title}</h2>
  <p class="mt-2">{description}</p>
  <div class="mt-2">
    <ul class="flex flex-wrap gap-2">
      {
        skills.map((skill) => (
          <li class="text-gray-400 bg-gray-950 outline-1 outline-gray-700 rounded px-2 py-1 text-xs">
            {skill}
          </li>
        ))
      }
    </ul>
  </div>
</div>
